/* 清除默认样式 */
html,body{
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color:rgba(255,255,255,0);
  background: #f5f5f5;
}
i{
  font-style: normal;
}
p{
  margin: 0;
}
ul{
  padding: 0;
}
li{
  list-style: none;
}
/*注册页面***************/
/*头部*/
header{
  width: 100%;
  height: 26%;
  background: linear-gradient(45deg, #498bc7, #79aad2);
  position: relative;
}
header>i{
  width:88px;
  height: 88px;
  background: url(../image/dy.png) no-repeat;
  background-size:100%;
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-44px;
  margin-top:-44px;
}
/* 表单区域*/
.box{
  margin-top: 5%;
  padding: 10px 15px;
}
.weui-label{
  color:rgb(194, 196, 189);
}
input::placeholder{
  color:rgb(194, 196, 189);
}
.weui-cell{
  padding: 18px 0;
}
.weui-cell:before {
  left: 0;
  background: #4279ac;
}
/* 表单最后一条线 */
.weui-cell-last::after {
content: " ";
position: absolute;
left: 0;
bottom:0;
right: 0;
height: 1px;
border-top: 1px solid #e5e5e5;
color: #e5e5e5;
-webkit-transform-origin: 0 0;
transform-origin: 0 0;
-webkit-transform: scaleY(.5);
transform: scaleY(.5);
z-index: 2;
background: #4279ac;
}
.btn{
display: inline-block;
margin-top: 10%;
padding: 10px 0;
width: 100%;
background: #4179aa;
border-radius: 8px;
text-align: center;
color: #fff;
position: relative;
}
.btn:active{
  background: #44698a;
}
span.hint{
  display: block;
  text-align: center;
  color: rgb(201, 201, 201);
  font-size: 12px;
}

/*  页面tab**************************************/
/*  工资条tab*/
/* 头部 */
.header{
  height:35%;
  background:#4378ac;
  position: relative;
}
.head_top{
  height: 50%;
  text-align:center;
}
.head_top>i{
  font-size: 12px;
  color:#f0ffff;
  display: block;
  padding-top: 10%;
}
.head_top>h2{
  margin: 0;
  color: #fff;
  font-weight: 500;
  font-size: 40px;
  position: relative;
  z-index: 10000;
}
/* 右箭头 */
.head_top::after{
  content: '';
  position: absolute;
  right: 10%;
  top:25%;
  width: 0;
  height: 0;
  border-width: 20px 0px 20px 27px;
  border-color: transparent transparent transparent #fff;
  border-style: solid;
}
.head_top::before{
  content: '';
  position: absolute;
  right: 11%;
  top:25%;
  width: 0;
  height: 0;
  border-width: 20px 0px 20px 27px;
  border-color: transparent transparent transparent #4378ac;
  border-style: solid;
  z-index: 10;
}
.head_buttom{
  width: 100%;
  padding-top: 3%;
  background: url('../image/bg.png') no-repeat;
  background-size: 100% 100%;
  position: absolute;
  bottom:0;
  left:0;
  display: flex;
  display: -webkit-flex;
}
.head_b_left{
  flex: 1;
  -webkit-flex:1;
  text-align: center;
  margin: 4% 0;
  border-right: 1px solid #fff;
}
.head_b_left>span,.head_b_right>span{
  display: inline-block;
  margin-bottom: 2%;
  font-size: 12px;
  color:#d1f4ff;
}
.head_b_left>p,.head_b_right>p{
  font-size: 16px;
  color:#f5f5ff;
}
.head_b_right{
  flex:1;
  -webkit-flex:1;
  text-align: center;
  margin: 3% 0;
}
p.icon-chakanlishijilu{
  font-size: 20px;
}
/*  底部*/
.weui-tabbar{
  background: #fff;
}
.weui-tabbar__item{
  padding: 5px 0 15px;
}
.weui-tabbar__icon>i{
  vertical-align: middle;
}
.weui-tabbar__label{
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}
.weui-bar__item--on i,.weui-bar__item--on>.weui-tabbar__label{
  color: #257cb2 !important;
}
/*  表图*/
.chart{
  margin-top: 2%;
  width: 100%;
  height: 45%;
}
.chart_text{
  width: 100%;
  height: 30%;
  display: flex;
  display: -webkit-flex;
  background: #fff;
  margin-bottom: 2%;
}
/*  左边*/
.txt_left{
  width: 50%;
  height:100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  text-align: center;
}
.weui-count{
  padding: 12% 0;
  border-right:1px solid #dedede;

}
/* 计数器 */
.weui-count .weui-count__number{
  width: 25%;
  color: #000;
}
.fangda{ /*大*/
  animation: moveda 1s;
  transform: scale(2);
}
 @keyframes moveda{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(2);
  }
 }
 .suoxiao{
   animation: movexiao 1s;
 }
 @keyframes movexiao{
  from{
    transform: scale(2);
  }
  to{
    transform: scale(1);
  }
 }
.weui-count>a:first-child{
  margin-left: 15px;
  vertical-align: middle;
  color:#257cb2;
  font-size: 21px;
  line-height: 22px;
}
.weui-count>a:first-child::before{
  background: #257cb2;
}
.weui-count>a:last-child{
  background: #257cb2;
  margin-left: 10%;
  margin-left: 4%;
  color:#fff;
  font-size: 21px;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
}
.weui-count>a:last-child::before{
  left: 49%;
  opacity: 0;
}
.weui-count .weui-count__btn:after{
  margin-top: -4.5px;
}
.weui-count .weui-count__btn:after, .weui-count .weui-count__btn:before{
  left:50%;
  top:46%;
  opacity: 0;
}
.weui-count>input[disabled]{
  color:#000;
  opacity:1;
  font-size: 18px;
}
.weui-count .weui-count__btn{
  border-color:#257cb2;
  margin-right: 10%;
  margin-right: 4%;
}
/*  右边*/
.txt_right{
  width: 50%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}
.txt_r_box>p{
  color:#b1b1b1;
}
.txt_r_box>p>span{
  color:#353535;
  float: right;
}
/* 图表 */
.chart_map{
  height: 80%;
}

/*'我的'页面****/
#tab2{
  background: #f5f5f5;
}
.tab2_title{
  margin-top:5%;
  width: 96%;
  height: 20%;
  background: #fff;
  padding-left: 4%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.tab2_title>img{
  width: 88px;
  height: 88px;
  border-radius: 8px;
}
.tab2_title>.names{
  width: 65%;
  margin-left: 4%;
  color:#fff;
}
.tab2_title>.names>p{
  color:#000;
  font-size: 24px;
}
.tab2_title>.names>span{
  color:#b0b6b4;
  font-size: 14px;
}
#tab2>ul{
  height: 70%;
  margin-top: 5%;
  background: #f5f5f5;
}
#tab2>ul>li{
  width: 96%;
  height: 12%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  border-bottom: 1px solid #e6e6e6;
  padding-left: 4%;
  background: #fff;
}
#tab2>ul>li:last-child{
  border:none;
}
#tab2>ul>li:first-child>i{
  color:#9cc9e6;
  font-size: 24px;
}
#tab2>ul>li:first-child>em{
  width: 70%;
  font-style: normal;
  text-align: end;
  color:#afb0b2;
}
#tab2>ul>li>span{
  font-size: 16px;
  font-weight: 500;
  text-indent: 10px;
}
#tab2>ul>li:last-child>i{
  color:#c0cde0;
  font-size: 32px;
}

/*  历年工资列表页*/
.list_title{
  width:100%;
  height: 20%;
  background: #4378ac;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
.list_title>.list_con{
  margin: 0 auto;
  line-height: 8rem;
}
.list_title i{
  font-size: 42px;
  color: #fffded;
}
.list_title span{
  color:#fffded;
  margin-left: 10px;
  font-size: 16px;
}
.list_box ul>li:first-child{
  width: calc(100% - 15px);
  height: 50px;
  line-height: 50px;
  background: #fff;
  padding:0 0 0 15px;
  display: flex;
  display: -webkit-flex;
  color:#4f4f4f;
  font-size: 16px;
  position: relative;
  margin-top: 3%;
}
.list_box ul:first-child>li:first-child~li{
  display: inline-block;
}
.list_box ul>li:first-child>img{
  width: 10px;
  height: 16px;
  position: absolute;
  right: 8%;
  top:30%;
  transition: 0.4s all;
}
.xuanzhuan0{
  transform:rotate(0deg);
}
.xuanzhuan90{
  transform:rotate(90deg);
}
.list_box ul>li:not(:first-child){
  width: calc(94% - 30px);
  margin: 3% 3% 0 3%;
  background: #fff;
  position: relative;
  border-left:10px solid #37d4d9;
  border-radius:8px;
  padding: 10px;
  display: none;
}
.list_box ul>li:not(:first-child):nth-child(2n){
  border-left:10px solid #4378ac;
}
.list_box ul>li:not(:first-child):nth-child(3n){
  border-left:10px solid rgb(139, 40, 217);
}
.list_box ul>li:not(:first-child)>.txt_title{
  padding: 3% 0;
  display: flex;
  display: -webkit-flex;
}
li:not(:first-child)>.txt_title>i,li:not(:first-child)>.txt_title>span{
  flex:2;
  -webkit-flex:2;
  font-size: 18px;
  color:#545456;
}
li:not(:first-child)>.txt_title>span{
  flex: 1;
  -webkit-flex:1;
  text-align: right;
}
li:not(:first-child)>time{
  font-size: 14px;
  color:#a6a6a8;
}
/* 工资详情列表 */
/*  头部*/
.money_box{
  width: 100%;
  height: 100%;
}
.box_top{
  width: 100%;
  height: 20%;
  background: #497eb0;
  position: relative;
}
.title{
  width: 40%;
  line-height: 40px;
  margin-top: 10px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.title>span{
  width: 100%;
  height: 100%;
  font-size: 16px;
  color:#fefcfd;
}
.thank{
  width:calc(100% - 30px);
  height: 60%;
  background: #fffbf2;
  position: absolute;
  bottom:0;
  left:15px;
  border-radius: 8px 8px 0 0;
  text-align: center;
  box-shadow: 0 -1px 10px 1px #cbc5a3;
}
.thank>i{
  color:#cbc5a3;
  margin: 4% 0;
  display: inline-block;
  animation: big 2s infinite linear alternate;
}
@keyframes big {
  from{
    transform: scale(1);
    color:#cbc5a3;
  }
  to{
    transform: scale(2);
    color:rgb(119, 114, 114);
  }
}
.thank>em{
  display: block;
  font-style: normal;
  font-size: 12px;
  color:#cbc5a3;
}
.thank>p{
  position: relative;
  background: red;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: left;
  font-weight: bold;
  display: flex;
  display: -webkit-flex;
  color:#db9a2c;
}
.thank>p>span{
  flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  text-align: right;
  margin-right: 10px;
}
/*  工资详情列表*/
.box_bottom{
  height: 75%;
  width: 100%;
}
.reality{
width:calc(100% - 15px);
height:50px;
line-height: 50px;
padding-left: 15px;
background: #497eb0;
display: flex;
display: -webkit-flex;
font-weight: 700;
position: relative;
z-index: 10;
box-shadow: 0 2px 10px 0px #497EAF;
transform:rotate(0deg);
animation: xuanzhuan 3s  linear;
}
/*
@keyframes xuanzhuan {
  from{
    transform:rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
}*/
/* .reality::after{
content: '';
position: absolute;
left: 0;
bottom: -11px;
width: 0;
height: 0;
border-style: solid;
border-width: 11px 15px 0 0;
border-color: #497eb0 transparent transparent transparent;
box-shadow: 0 1px 10px 0px #497EAF;
animation: qq1 4s linear;
animation-delay: 3s;
}
@keyframes qq1 {
 0%{border-width: 45px 50px 0 0;bottom: -45px;}
   15%{border-width: 90px 100px 0 0;bottom: -90px;}
    30%{border-width: 150px 150px 0 0;bottom: -150px;}
           85%{border-width: 90px 100px 0 0;bottom: -90px;}
             100%{border-width: 45px 50px 0 0;bottom: -45px;}
} */
/* .reality::before{
content: '';
position: absolute;
right: 0;
bottom: -50px;
width: 0;
height: 0;
border-style: solid;
border-width: 0 15px 11px 0;
border-width: 0 45px 50px 0;
border-color: transparent #497eb0 transparent transparent;
box-shadow: 0 1px 10px 0px #497EAF;
animation: qq 4s linear;
animation-delay: 3s;
} */
/*
 @keyframes qq {
  0%{border-width: 0 45px 50px 0;bottom: -50px;}
    15%{border-width: 0 90px 100px 0;bottom: -100px;}
      30%{border-width: 0 180px 200px 0;bottom: -200px;}
        45%{border-width: 0 235px 235px 0;bottom: -235px;}
          65%{border-width: 0 180px 200px 0;bottom: -200px;}
            85%{border-width: 0 90px 100px 0;bottom: -100px;}
              100%{border-width: 0 45px 50px 0;bottom: -50px;}
}
 .hide{
  border-width: 0 45px 50px 0;bottom: -50px;
  animation: qq2 5s;
}
@keyframes qq2 {
 0%{border-width: 0 250px 250px 0;bottom: -250px;}
   35%{border-width: 0 180px 200px 0;bottom: -200px;}
     75%{border-width: 0 90px 100px 0;bottom: -100px;}
       100%{border-width: 0 45px 50px 0;bottom: -50px;}
} */
.reality>span{
/* flex: 1;
-webkit-box-flex: 1;
-ms-flex: 1; */
width: 50%;
color:#fff;
font-size: 16px;
}
.reality>i{
/* flex: 1;
-webkit-box-flex: 1;
-ms-flex: 1; */
width: 50%;
text-align: right;
padding-right: 25px;
color:#fff;
}
.box_bottom>ul{
padding-left: 15px;
border-bottom:1px solid #e4e4e4;
border-top:1px solid #e4e4e4;
background: #fff;
overflow: scroll;
-webkit-overflow-scrolling: touch;
margin: 0;
}
.box_bottom>ul>li{
width:97%;
padding:3% 3% 3% 0;
border-bottom:1px solid #e4e4e4;
display: flex;
display: -webkit-flex;
}
.box_bottom>ul>li:last-child{
border:0;
}
.box_bottom>ul>li>span{
/* flex: 1; */
width: 50%;
color:#090909;
font-size: 16px;
}
.box_bottom>ul>li>i{
/* flex: 1; */
width: 50%;
text-align: right;
padding-right: 15px;
color:#aaa;
}
